In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
nfl_stats = "nfl_stats.csv"

In [3]:
nfl_stats_df = pd.read_csv(nfl_stats)

In [6]:
nfl_stats_df.head()

,Player,Pos,Year,Week,Team,Opponent Abbrev,Date,Game ID,H/A,OT,...,Def Pct,ST Num,ST Pct,DKP,DKSalary,FDP,FDSalary,DK_Total_FP,FD_Total_FP,YH_Total_FP
0,Aaron Rodgers,QB,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,0%,0,0%,12.92,6500.0,12.92,8200.0,12.92,12.92,12.92
1,Aaron Jones,RB,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,0%,0,0%,4.90,5400.0,4.40,6800.0,4.90,4.40,4.40
2,Marquez Valdes-Scantling,WR,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,0%,0,0%,9.20,4400.0,7.20,5900.0,9.20,7.20,7.20
3,Davante Adams,WR,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,0%,0,0%,7.60,7700.0,5.60,8700.0,7.60,5.60,5.60
4,Jimmy Graham,TE,2019,1,GNB,CHI,2019-09-05,201909050chi,A,NaN,...,0%,0,0%,12.00,3600.0,10.50,5100.0,12.00,10.50,10.50

In [7]:
nfl_stats_df.describe()

,Year,Week,Team Score,Opponent Score,Spread,Over/Under,Implied Points,Actual Margin,Temperature,Wind,...,Off Num,Def Num,ST Num,DKP,DKSalary,FDP,FDSalary,DK_Total_FP,FD_Total_FP,YH_Total_FP
count,5340.0,5340.000000,5340.000000,5340.000000,5340.000000,5340.000000,5340.000000,5340.000000,3760.000000,3760.000000,...,5340.000000,5340.000000,5340.000000,5130.000000,5128.000000,5133.000000,5114.000000,5340.000000,5340.000000,5340.000000
mean,2019.0,9.082022,23.039513,22.758427,0.568352,45.293352,22.362500,-0.281086,60.786436,8.265426,...,36.289139,0.441760,4.397191,9.066721,4299.590484,7.649012,5566.190849,8.666667,7.301779,7.378558
std,0.0,5.009489,10.326009,10.184277,13.613584,4.424064,6.946817,15.150905,16.583689,4.636368,...,22.173343,4.526894,6.163268,8.890544,1556.025375,7.761803,1342.422242,8.802984,7.656947,7.720802
min,2019.0,1.000000,0.000000,0.000000,-49.000000,33.000000,-16.000000,-49.000000,11.000000,0.000000,...,0.000000,0.000000,0.000000,-1.660000,0.000000,-2.660000,0.000000,-5.660000,-6.660000,-2.800000
25%,2019.0,5.000000,16.000000,16.000000,-5.000000,42.500000,19.500000,-8.000000,48.000000,5.000000,...,18.000000,0.000000,0.000000,2.100000,3000.000000,1.500000,4500.000000,1.800000,1.300000,1.300000
50%,2019.0,9.000000,23.000000,23.000000,-1.000000,45.500000,22.750000,-1.000000,59.000000,8.000000,...,36.000000,0.000000,0.000000,6.400000,4000.000000,5.200000,5300.000000,6.000000,4.800000,4.800000
75%,2019.0,14.000000,30.000000,30.000000,5.000000,48.000000,25.500000,8.000000,76.000000,11.000000,...,55.000000,0.000000,8.000000,13.400000,5300.000000,11.680000,6400.000000,13.000000,11.215000,11.400000
max,2019.0,17.000000,59.000000,59.000000,70.000000,73.000000,49.500000,49.000000,93.000000,23.000000,...,91.000000,84.000000,31.000000,56.700000,10500.000000,46.700000,11000.000000,56.700000,46.700000,46.700000